!!! 5
%html
  %head
    %title kashiwa
    %link(rel='stylesheet' href='/lib/css/bootstrap/bootstrap.min.css')
    %link(rel='stylesheet' href='/css/kashiwa.css')
    %script(src='/lib/js/jquery/jquery.min.js')
    %script(src='/lib/js/bootstrap/bootstrap.min.js')
    %script(src='/lib/js/pixi/pixi.js')
    %script(src='/js/kashiwa-min.js')
  %body
    %header
      .container
    .container
      =yield
    %footer
      .container
